#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.mkpic{
  height: 10em;
  border: 2px solid rgba(255, 217, 0, 0.818);
  filter: drop-shadow(0 0 2em #eab31c);
  border-radius: 50%;
}
.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.link{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.appBody{
  margin: 1rem;
  padding: 2rem;
  border: 2px solid rgb(143, 141, 141);
  border-radius: 1rem;
  box-shadow: 10px 10px 5px rgb(143, 141, 141);
}

